<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Previdência</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body align="center" style="height: 100%; width: 100;">
    <div class="container" align="center" style="background-image:url('retirement.jpeg');background-size:cover;                      
               background-repeat:no-repeat;background-position:center;height:100%; width:100%; margin:0;">
        <div>
            <h1>Cálculo da Previdência Fintech</h1>
            <p id="aviso" style="color: red;"></p>
        </div>
        <div id="nameInput" class="input-group-lg center-block previdencia" >
            <input id="e" type="number" class="form-control" placeholder="Renda Esperada" min="0" />
            <input id="ir" type="number" class="form-control" placeholder="Tempo de uso da aposentadoria (anos)" min="0" />
            <input id="id" type="number" class="form-control" placeholder="Idade Atual" min="0" />
            <input id="ia" type="number" class="form-control" placeholder="Idade de Aposento" min="0" />
            <input id="i" type="number" class="form-control" placeholder="Taxa de Juros Mensal" min="0" />
            <button id="calculate" type="button" class="btn btn-success">Calcular</button>
        </div>
        <p id="response" class="lead text-center"></p>

        <p id="databaseNames" class="lead text-center"></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="index.js"></script>

</body>

</html>
